/*Intro Page*/
#intro{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}
button{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 10px;
    margin:10px
}
#startButton{
    margin-top: 40px;
    width: 200px;
    height: 70px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#webLogo{
    width: 320px;
    margin-top: 150px;
    margin-bottom: 59px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#searchPage{
    margin-top: 150px;
    background-color: rgb(81,167,215);
    padding-top: 20px;
    padding-bottom: 80px;
}
#submitButton{
    width: 100px;
    height: 50px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}
/*Text*/
.searchText{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
}
#exam{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    text-align: center; 
}

/*dropdowns
#groupDropDown{
    width:100px;
}*/