<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Input</title>
    </head>
    <body>
       <form action="/hello" method="post">
            <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <select name="year" id="year">
                <option value="1999">1999</option>
                <option value="1989">1989</option>
                <option value="2013">2013</option>
                <option value="2020">2020</option>
            </select>
            <input type="submit">
        </form> 
    </body>
</html>