<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pls</title>
    </head>
    <body>
        <form action="/og">
            <input type="text" name="name">
            <input type="submit">
        </form>
        <a href="/hello">Click Me</a>  
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
      
    </body>
</html>